* {
    user-select: none;
    font-family: Arial;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 8px;
    overflow: hidden;
}

.nc-container, .nc-data {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nc-table {
    height: 200px;
    border-collapse: collapse;
}

.nc-td {
    font-size: 100px;
    padding: 0;
    border: 5px solid black;
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 200px;
}

.nc-turn {
    font-size: 50px;
    padding: 50px;
    width: 250px;
    text-align: center;
    padding-top: 20px;
}

.nc-data {
    flex-direction: column;
}

.nc-settings {
    height: 50px;
}